<div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <div 
    fxFlex="40" 
    fxflex.lg="50" 
    fxFlex.md="70" 
    fxFlex.sm="60"
    fxFlex.xs="100" 
    fxLayout="column" 
    xLAyoutAlign="center center" 
    class="wrapper border-primary p-1">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-2" >
            <button color="primary" mat-raised-button>Add Product</button>
            <mat-form-field class="example-form-field">
                <mat-label>Search product</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
        <div fxLayout="column" >
            <table mat-table [dataSource]="productData$ | async" class="mat-elevation-z8">
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> Title </th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>
              
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef> Category </th>
                  <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/admin/products',element.id]" routerLinkActive="router-link-active" >Edit</a>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>