<mat-card class="example-card">
    <div>
        <img mat-card-image [src]="product.imageURL" *ngIf="product.imageURL">
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" >
            <mat-card-title [ngStyle.xs]="{'font-size.px': 15}">{{product.title}}</mat-card-title>
            <mat-card-subtitle>{{product.price | currency:'INR'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{product.description}}</p>
        </mat-card-content>
    </div>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end">
        <div *ngIf="showActions" >
            <button *ngIf="getQuantity() === 0;else addedToCart" (click)="addToCart()" color="primary" mat-raised-button>Add to cart</button>
            <ng-template #addedToCart>
                <button  mat-stroked-button disabled><mat-icon>check</mat-icon>Added to cart</button>
            </ng-template>
        </div>
    
    </mat-card-actions>
</mat-card>
