<div fxFlexFill fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="15px">
    <div 
    fxFill 
    fxFlex="15" 
    fxLayout="column" 
    fxLayoutGap="10px" 
    fxHide.sm 
    fxHide.xs>
        <product-filter></product-filter>
    </div>
    <div 
        fxFlex 
        fxLayout="row wrap" 
        fxLayoutAlign.gt-xs="start" 
        fxLayoutAlign.sm="center center" 
        fxLayoutAlign.xs="center center" 
        [ngClass.gt-xs]="['p-2']"
        fxLayoutGap="16px" >
        <div
            fxFlex.xs="40"
            fxFlex.gt-xs="30"
            fxFlex.gt-sm="25"
            fxFlex.gt-md="15" 
            fxFlex.gt-lg="12"
            fxLayout="column"
            *ngFor="let p of filteredProducts"
            class="mt-2"
            >
            <product-card [product]="p" [shopping-cart]="cart"></product-card>
        </div>
    </div>
</div>
