/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* App dark theme */
.temp-dark-style{
    color: white;
    background-color: #0D1117;
}
/* tog get full body height excluding navbar */
.nav-wrapper{
    /* height: calc(100vh - 64px) !important; */
    min-height: calc(100vh - 64px) !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* PAddings */
.p-1{
  padding:1em;
}
.p-2{
  padding: 1.5em;
}
.p-3{
  padding: 2em;
}

/* PAddings x axis*/
.px-1{
  padding:0 1em;
}
.px-2{
  padding:0 1.5em;
}
.px-3{
  padding:0 2em;
}

/* PAddings y axis*/
.py-1{
  padding:1em 0;
}
.py-2{
  padding:1.5em 0;
}
.py-3{
  padding:2em 0;
}

/* Margins */
/* margin y axis */
.my-1{
  margin: 1em 0 !important;
}
.my-2{
  margin: 1.5em 0 !important;
}
.my-3{
  margin: 2em 0 !important;
}

/* margin x axis */
.mx-1{
  margin: 0 1em !important;
}
.mx-2{
  margin: 0 1.5em !important;
}
.mx-3{
  margin: 0 2em !important;
}

/* margin top */
.mt-1{
  margin-top: 1em !important;
}
.mt-2{
  margin-top: 1.5em !important;
}
.mt-3{
  margin-top: 2em !important;
}

/* margin bottom */
.mb-1{
  margin-bottom: 1em !important;
}
.mb-2{
  margin-bottom: 1.5em !important;
}
.mb-3{
  margin-bottom: 2em !important;
}


/* Borders */
.border-primary{
  border: 2px solid #6495ed;
}
