/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* App dark theme */
.temp-dark-style{
    color: white;
    background-color: #0D1117;
}
/* tog get full body height excluding navbar */
.nav-wrapper{
    /* height: calc(100vh - 64px) !important; */
    min-height: calc(100vh - 64px) !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* width */
.w-25{
  width: 25% !important;
}
.w-50{
  width: 50% !important;
}
.w-75{
  width:-75% !important;
}
.w-100{
  width: 100% !important;
}

/* PAddings */
.p-1{
  padding:1em;
}
.p-2{
  padding: 1.5em;
}
.p-3{
  padding: 2em;
}

/* PAddings x axis*/
.px-1{
  padding:0 1em;
}
.px-2{
  padding:0 1.5em;
}
.px-3{
  padding:0 2em;
}

/* PAddings y axis*/
.py-1{
  padding:1em 0;
}
.py-2{
  padding:1.5em 0;
}
.py-3{
  padding:2em 0;
}

/* Margins */
.m-1{
  margin: 1em !important;
}
.m-2{
  margin: 1.5em !important;
}
.m-3{
  margin: 2em !important;
}

/* margin y axis */
.my-1{
  margin: 1em 0 !important;
}
.my-2{
  margin: 1.5em 0 !important;
}
.my-3{
  margin: 2em 0 !important;
}

/* margin x axis */
.mx-1{
  margin: 0 1em !important;
}
.mx-2{
  margin: 0 1.5em !important;
}
.mx-3{
  margin: 0 2em !important;
}

/* margin top */
.mt-1{
  margin-top: 1em !important;
}
.mt-2{
  margin-top: 1.5em !important;
}
.mt-3{
  margin-top: 2em !important;
}

/* margin bottom */
.mb-0{
  margin-bottom: 0 !important;
}
.mb-1{
  margin-bottom: 1em !important;
}
.mb-2{
  margin-bottom: 1.5em !important;
}
.mb-3{
  margin-bottom: 2em !important;
}


/* Borders */
.border-primary{
  border: 2px solid #6495ed;
}

/* text align */
.txt-left{
  text-align: left;
}
.txt-right{
  text-align: right;
}

/* Font Styling */
.font-100{
  font-weight: 100;
}
.font-400{
  font-weight: 400;
}
.font-500{
  font-weight: 500;
}
.font-600{
  font-weight: 600;
}
.font-bold{
  font-weight: bold;
}

/* Font Size */
.font-1{
  font-size: 1em;
}
.font-2{
  font-size: 1.5em;
}
.font-3{
  font-size: 2em;
}
.font-4{
  font-size: 2.5;
}